body {
    font: Arial, Helvetica, sans-serif; 
    color: #808080;
}
#reg{
    width: 600px;
    border: 1px dotted #336699;
}
td{
    font-size:12px;
}
h1{
    height:35px;
    font-size:16px;
    color:#FFFFFF;
    background-color: #336699;
    line-height: 30px;
    padding-left:25px;
}
.anniu {
    border-right: #666666 1px solid; 
    padding-right: 1px; 
    border-top: #ffffff 1px solid; 
    padding-left: 1px; 
    font-size: 9pt; 
    padding-bottom: 1px; 
    border-left: #ffffff 1px solid; 
    cursor: pointer; 
    color: #333333; 
    padding-top: 1px; 
    border-bottom: #666666 1px solid; 
    font-family: "宋体"; 
    height: 20px; 
    background-color: #eeeeee;
}
.FrameDivPass{
    border: 1px solid #6FBE44;
    padding: 2px;
    height: 100%;
    float: left;
}
.FrameDivWarn{
    border: 1px solid #FF0000;
    padding: 2px;
    height: 100%;
    float: left;
}